/* FRONT-PAGE-CLASSES */
.front-page{
    height: 115vh;
    background-color: #E3F4F4;
}
.col-FP-1{
    margin-top: 15%;
}
.col-FP-2{
    height: 80%;
}
.front-page-h1{
    text-transform: capitalize;
    font-size: 500%;
    line-height: 90%;
    font-family: 'Montserrat', sans-serif;
}
.fp-h1-1{
    font-weight: light;
}
.fp-h1-2{
    font-weight: bold;
}
.front-page-p{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 23px;
}
.front-page-svg{
    width: 40px;
    margin: 10px 30px 0 0;
}
.front-page-logo{
    width: auto;
    height: 70%;
}
/* DIVIDER */
.sep2{
    transform: translateY(-100%) translateY(2px) scale(1,1);
    transform-origin: top;
    padding: 0;
}
.divider{
    padding: 0;
}
/* SECOND PAGE
.second-page{
    height: 105vh;
    background-color: #F8F6F4;
}
.second-page-logo{
    width: 80%;
    border-radius: 100%;
} */
/* Media Queries for MD and Below */
@media (max-width: 992px) {
    .front-page{
        max-height: 105vh ;
    }
    .col-FP-1{
        margin-top: 0;
        padding-top: 52px;
    }
    .col-FP-2{
        padding: 52px 0;
    }
    .front-page-h1{
    font-size: 300%;
    }
    .col-FP-2{
        padding-top: 0;
        height: auto;
    }
}
/* COLOUR THEME DIVS */
.one{
    background-color: #C4DFDF;
    height: 23vh;
}
.two{
    background-color: #D2E9E9;
    height: 23vh;
}
.three{
    background-color: #E3F4F4;
    height: 23vh;
}
.four{
    background-color: #F8F6F4;
    height: 23vh;
}
/* TEST */
  /* .flip-card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
  }
  .flip-card-in{
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}
  
  .flip-card-back {
    background-color: #f2f2f2;
    transform: rotateY(180deg);
} */
